@model UI.SafeChargeModels.OpenOrderResponse
@{
    ViewBag.Title = "Checkout Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .SfcFields {
        background-color: #feff8c;
        height: 42px;
        padding: 10px 12px;
        border-radius: 4px;
        /*border: 1px solid transparent;*/
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
        min-height: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px;
    }

    .sfc-empty {
        background-color: #fecd58 !important;
    }

        .sfc-empty.sfc-focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
            background-color: #fe8423 !important;
        }

    .sfc-focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
        background-color: #feb1c7 !important;
    }

    .sfc-complete {
        background-color: #34fa29 !important;
    }

    .sfc-invalid {
        border-color: #fa755a;
    }

    .SfcFields--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>

<!-- Start Checkout -->
<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-6 m-sm-auto">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>Checkout Details</h2>
                        <div class="content">
                            <ul>
                                <li>Amount to pay<span id="checkoutTotal">$@String.Format("{0:c}", ViewBag.Amount)</span></li>
                            </ul>
                        </div>
                    </div>
                    <!--/ End Order Widget -->
                    <!-- Payment Method Widget -->
                    <div class="single-widget">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cardHolderName">Card Holder Name</label>
                                <input type="text" id="cardHolderName" class="col-12" placeholder="FL-BRW1" value="FL-BRW1" />
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">Card Number</label>
                                <input type="text" id="cardNumber" class="col-12" placeholder="4000020951595032" value="4000020951595032" />
                            </div>
                            <div class="form-group">
                                <label for="expMonth">Expiry Month</label>
                                <input type="text" id="expMonth" class="col-12" placeholder="12" value="12" />
                            </div>
                            <div class="form-group">
                                <label for="expYear">Expiry Year</label>
                                <input type="text" id="expYear" class="col-12" placeholder="25" value="25" />
                            </div>
                            <div class="form-group">
                                <label for="CVV">CVV</label>
                                <input type="text" id="CVV" class="col-12" placeholder="217" value="217" />
                            </div>
                        </div>
                    </div>
                    <!--/ End Payment Method Widget -->
                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button">
                                <button id="payoutButton" onclick="main();" class="btn btn-primary">Submit Payment</button>
                            </div>
                        </div>
                    </div>
                    <!--/ End Button Widget -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Checkout -->

@section Scripts{
    <script src="https://cdn.safecharge.com/safecharge_resources/v1/websdk/safecharge.js"></script>
    <script>
        var sfc = SafeCharge({
            env: 'int',
            merchantId: '@Model.MerchantId',
            merchantSiteId: '@Model.MerchantSiteId',
        });

        var ScFields = sfc.fields({
            fonts: [{
                cssUrl: 'https://fonts.googleapis.com/css?family=Source+Code+Pro'
            },
            ],
            locale: 'en'
        });

        var style = {
            base: {
                fontFamily: 'Roboto, sans-serif',
                color: "#045d47",
                fontSmoothing: 'antialiased',
                '::placeholder': {
                    color: '#ccb654'
                }
            },
            invalid: {
                color: '#e5312b',
                ':focus': {
                    color: '#303238'
                }
            },
            empty: {
                color: '#BADA55',
                '::placeholder': {
                    color: '#cc3ac2'
                }
            },
            valid: {
                color: '#2b8f22'
            }
        };

        var scard = ScFields.create('card', {
            style: style
        });
        scard.attach(document.getElementById('card-field-placeholder'));

        function main() {
            var cardholderName = document.getElementById('cardHolderName').value;
            var cardNumber = document.getElementById('cardNumber').value;
            var expMonth = document.getElementById('expMonth').value;
            var expYear = document.getElementById('expYear').value;
            var CVV = document.getElementById('CVV').value;
            var amount = "@String.Format("{0:c}", ViewBag.Amount)";
            var currency = "@ViewBag.Currency";
            var timeStamp = "@ViewBag.TimeStamp";
            var checksum = "@ViewBag.Checksum"

            sfc.authenticate3d({
                "sessionToken": '@Model.SessionToken',
                "userTokenId": "@Model.UserTokenId",
                "clientUniqueId": "@Model.ClientUniqueId",
                "currency": currency,
                "amount": amount,
                "paymentOption": {
                    "card": {
                        "cardNumber": cardNumber,
                        "cardHolderName": cardholderName,
                        "expirationMonth": expMonth,
                        "expirationYear": expYear,
                        "CVV": CVV
                    }
                },
                "billingAddress": {
                    "email": "john.smith@safecharge.com",
                    "country": "GB"
                }
            }, function (res) {
                    console.log(res);
                    if (res.cancelled === true) {
                        alert("An error occured!");
                    } else {
                        var request = {
                            "sessionToken": "@Model.SessionToken",
                            "merchantId": "@Model.MerchantId",
                            "merchantSiteId": "@Model.MerchantSiteId",
                            "userTokenId": "@Model.UserTokenId",
                            //"clientRequestId": "@Model.ClientRequestId",
                            //"clientUniqueId": "@Model.ClientUniqueId",
                            "currency": currency,
                            "amount": amount,
                            "billingAddress": {
                                "country": "GB",
                                "email": "someemail@somedomain.com"
                            },
                            "paymentOption": {
                                "userPaymentoptionId": res.userPaymentoptionId,
                                "card": {
                                    "cardNumber": cardNumber,
                                    "cardHolderName": cardholderName,
                                    "expirationMonth": expMonth,
                                    "expirationYear": expYear,
                                    "CVV": "122",
                                    "threeD": {
                                        "externalMpi": {
                                            "eci": res.eci,
                                            "threeDProtocolVersion": "2",
                                            "cavv": res.cavv,
                                            "dsTransID": res.dsTransID
                                        }
                                    }
                                }
                            },
                            "deviceDetails": {
                                "ipAddress": "93.146.254.172"
                            },
                            "timeStamp": timeStamp,
                            "checksum": checksum
                        };

                        console.log(request);

                        $.ajax({
                            method: "POST",
                            url: "https://ppp-test.safecharge.com/ppp/api/v1/payment.do",
                            data: JSON.stringify(request),
                            contentType: 'application/json',
                        })
                            .done(function (msg) {
                                console.log(msg);
                                alert("Data Saved: " + msg);
                            });
                    }
            });
        }
    </script>
}