<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <script src="https://cdn.safecharge.com/safecharge_resources/v1/websdk/safecharge.js"></script>

    <!-- StyleSheet -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">

    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="js">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Products <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/Home/Cart">Cart</a>
                @*<a class="nav-item nav-link" href="/Home/Checkout">Checkout</a>*@
            </div>
        </div>
        <div class="bottom" style="display: block ruby">
            <a href="/Home/Cart"><i class="fa fa-shopping-basket"></i><span id="cartCount" class="badge badge-pill badge-success">0</span></a>
            <div class="">
                <select class="" id="currencyList" onchange="setCurrency(this)">
                    <option value="USD">USD</option>
                    <option selected value="EUR">EUR</option>
                </select>
            </div>
        </div>
    </nav>
    <!--/ End Header -->
    <!-- Page Content -->
    <div class="mt-3">
        @RenderBody()
    </div>
    <!--/ End Page Content -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/eshopcart.js"></script>
    <script>
        $(document).ready(function () {
            let cart = getObjectFromLocalStorage("cart");
            let count = cart === null ? 0 : cart.length;
            document.getElementById('cartCount').innerHTML = count;

            let currency = getObjectFromLocalStorage("currency");
            if (currency === null) {
                setCurrency("USD");
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
